<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConvertUnderscores" value="true"/>
		<add key="ShowExtension" value="false"/>
		
		<add key="ThumbnailWidth" value="140"/>
		<add key="ThumbnailHeight" value="105"/>

		<add key="Sizes" value="800 1024 400"/>

		<add key="Template" value="smoove"/>
		<add key="Theme" value="silk"/>

		<add key="EnableDebug" value="true"/>

		<add key="Tags" value="ImageWidth, ImageHeight, DateTime, Flash, FocalLength, MeteringMode, ApertureValue, ExposureTime"/>

	</appSettings>
	<system.web>
		<httpHandlers>
			<add verb="*" path="*" type="QuickThumbs.QuickThumbsHandler,QuickThumbs"/> 
		</httpHandlers>
	</system.web>
</configuration>
